@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Saira:wght@700&display=swap');

:root {
    --background-color: #fff;
  }

*{
    font-family: 'Mulish', sans-serif;
}

body{
    min-height: 2000px;
}

html{
        scroll-behavior: smooth;
}

/* TOPOGRAFIE */
h1{
    line-height: 50px;
    font-family: 'Saira', sans-serif;
}

h2{
    line-height: 50px;
    font-family: 'Saira', sans-serif;
}

.text-blue{
    color: #005797;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
}

/* GENERAL */
section{
    padding: 50px 0;
}

.section-grey{
    background-color: #F2F4F7;
}

.section-grey-{
    background-color: #F2F4F7;
}

.btn{
    border-radius: 4px;
    display: block;
    padding: 11px 21px;
    background-color: #0A192D;
    color: white;
    height: 50px;
    width: 100px;
    text-decoration: none;
}

.container{
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    padding: 50px 0;
    margin: auto;
    max-width: 1150px;
    position: relative;
}

span{
    border-radius: 50px;
    padding: 10px;
    border: 3px solid #006E5F;
}

/* HEADER */
header{
    padding: 60px 0 50px 0;
}

.block-header{
    display: flex;
}

.block-header-right{
    width: 30%;
}

.block-header-left{
    width: 70%;
}

.block-header-left > h1{

}

.block-header-left > li{
    list-style: none;
}

.block-header-left > li > ul{
    padding-left: 0;
}

.btn-header{
    margin-top: 45px;
}

.block-header-img{
    max-height: 167px;
    max-width: 239px;
    display: block;
    margin-top: 35px;
    float: right;
}

/* SUB INFO */
.block-subinfo{
    display: flex;
}

.block-info{
    text-align: center;
    width: 34%;
    padding: 30px;
}

.block-info > h4{
    margin-bottom: 0px;
}

.block-info > p{
    margin-top: 8px;
}

/* BLOCK INTRO */
.block-intro{
    text-align: center;
    width: 50%;
    font-size: large;
    color: #1e2029;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0px;
}

.block-intro > h2{
    color: #0A192D;
    text-shadow: 1px 1px 1px #006E5F, 2px 2px 1px #006E5F;
}

/* BIG INFO */
.block-biginfo{
    display: flex;
}

.block-biginfo-left{
    width: 40%;
}

.block-biginfo-right{
    width: 60%;
}

.block-biginfo-left > img{
    display: block;
    max-width: 367px;
    max-height: 259px;
    margin-top: 40px;
    position: absolute;
}

/* BLOCK OFFERS */
.block-offers-excerpt > h2{
    margin-bottom: 0px;
}

.block-offers-excerpt > p{
    margin-top: 0px;
    margin-bottom: 50px;
}

.block-offers{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.block-offers-info > p{
    margin-top: 0;
    margin-bottom: 25px;
}

/* BLOCK EXPECTED */
.block-expected-excerpt > h2{

}

.block-offers-excerpt > p{
    margin-top: 0px;
    margin-bottom: 50px;
}

.block-offers{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.block-offers-info {
    margin-top: -15px;
    margin-left: 20px;
}

.block-offers-info > h4{
    margin: 0;
}

.block-expected-list > ul{
    padding-left: 22px;
}

/* ANIMATION */
.one{
    animation: ani1 30s infinite;
}

.two{
    animation: ani2 30s infinite;
}

.three{
    animation: ani3 30s infinite;
}

@keyframes ani1{
    0%{
        opacity: 0;
    }
    10%{

        opacity: 1;
    }
    20%{
        opacity: 0;
    }
}

@keyframes ani2{
    20%{
        opacity: 0;
    }
    30%{

        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}

@keyframes ani3{
    40%{
        opacity: 0;
    }
    50%{

        opacity: 1;
    }
    60%{
        opacity: 0;
    }
}

/* WRAPPER  */
.wrapper{
    max-width: 600px;
    width: 100%;
    background: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.125);
    padding: 30px;
    margin-top: 50px;
  }
  
  .wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #006E5F;
    text-transform: uppercase;
    text-align: center;
  }
  
  .wrapper .form{
    width: 100%;
  }
  
  .wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .wrapper .form .inputfield label{
     width: 200px;
     color: #757575;
     margin-right: 10px;
    font-size: 14px;
  }
  
  .wrapper .form .inputfield .input,
  .wrapper .form .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .wrapper .form .inputfield .textarea{
    width: 100%;
    height: 125px;
    resize: none;
  }
  
  .wrapper .form .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
  }
  
  .wrapper .form .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
  .wrapper .form .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }
  
  
  .wrapper .form .inputfield .input:focus,
  .wrapper .form .inputfield .textarea:focus,
  .wrapper .form .inputfield .custom_select select:focus{
    border: 1px solid #006E5F;
  }
  
  .wrapper .form .inputfield p{
     font-size: 14px;
     color: #757575;
  }
  .wrapper .form .inputfield .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
  }
  .wrapper .form .inputfield .check input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .wrapper .form .inputfield .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #006E5F;
    display: block;
    position: relative;
  }
  .wrapper .form .inputfield .check .checkmark:before{
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
  }
  .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
    background: #006E5F;
  }
  
  .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
  }
  
  .wrapper .form .inputfield .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:  #006E5F;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }
  
  .wrapper .form .inputfield .btn:hover{
    background: #00B094;
  }
  
  .wrapper .form .inputfield:last-child{
    margin-bottom: 0;
  }
  
  @media (max-width:420px) {
    .wrapper .form .inputfield{
      flex-direction: column;
      align-items: flex-start;
    }
    .wrapper .form .inputfield label{
      margin-bottom: 5px;
    }
  }